/*no scroll bars*/

* {
  overflow-x: hidden;
  overflow-y: hidden;
  margin: 0;
}

/*screen reader*/
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

/*info text*/

.dots {
  text-decoration: underline dotted;
  border-bottom: 2px dotted #000;



}

/*grid*/

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);


}

/*grid-layout*/

.grid-container>*:nth-child(odd) {

  grid-row: 1;


}

.grid-container div:nth-child(even) {
  grid-row: 2;
}

/*gallery*/
.thumb-container {
  display: flex;
  justify-content: space-between;

}

.thumb-container img {
  height: 20vh;
  width: auto;


}

.button-container {
  display: flex;
  justify-content: space-between;
}

#large {
  height: 70vh;
  width: auto;
  max-width: 100vw;
  object-fit: contain;
  margin: 0 auto;
  display: block;
  padding: 0;

}

/*hamburger and nav menu*/
.hamburger {
  font-size: 30px;
  cursor: pointer;
  padding: 10px;
  display: none;
}

.nav-menu {
  display: none;
}

.nav-menu.show {
  display: block;
}

/*media query*/

@media (max-width: 600px) {
  .hamburger {
    display: block;
  }

  .nav {
    display: none;
  }

}